/* Global styles go here */
.headerContainer {
  display: flex;
  margin: 0;
}

.footerContainer {
  display: flex;
  margin-left: 10px;
}

.username {
  margin-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 17px;
  font-weight: bolder;
}

.date {
  margin-top: 7px;
  font-size: 13px;
  color: grey;
}

.replyText {
  font-size: 15px;
  color: grey
}

.content {
  padding-left: 25px
}